/*
* @Author: Administrator
* @Date:   2017-10-17 10:04:30
* @Last Modified by:   阿杜
* @Last Modified time: 2017-10-20 16:00:49
*/
@import url('base.css');
.about{
	height: auto;
	padding: 120px 0;
}
.shangbt{
	height: auto;
	margin: 0 auto;

	/* background: red; */
	text-align: center;

}
.shangbt h3{
	font-size: 36px;
	margin-bottom: 10px;
	font-family: '微软雅黑', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	box-sizing: inherit;
}
.shangbt p{
    font-size: 14px;
    line-height: 22px;	
    color: #7A6C71;
    margin-bottom: 50px;
    font-family: 'pmingliu',sans-serif;
}
.content{
	position: relative;

}
.content img{
	display: block;
	width: 100%;
	height: 100%;
	margin-bottom: 20px;
}
.z1{
	font-family: '微软雅黑', sans-serif;
	font-size: 36px;
}
.z2{
	font-size: 14px;
    color: #55575d;
    line-height: 24px;
    margin: 0 0 1.75em;
    font-family: 'pmingliu',sans-serif;
}






.gongneng{
	height: auto;
	padding: 120px 0;
	background: #F3F3F4;
}
.row1{
	width: 100%;
	height: auto;
	/* background: red; */
	overflow: hidden;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	float: left;
}
.row1 li{
	margin-bottom: 20px;
}
.row1 li .row{
	background: #fff;
	padding: 30px;
	margin-top: 7px;
}
.icon{
	width: 70px;
	height: 70px;
	margin: 0 auto;
	margin-bottom: 15px;

}
.icon i{
	font-size: 30px;
	line-height: 50px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;
	color: #000;
}
.left h4{
	font-size: 24px;
	line-height: 30px;
	text-align: center;
	font-family: 'lora',sans-serif;
	font-weight: bold;
}
.left p{
	font-size: 14px;
	text-align: center;
	color: #888899;
	font-family: 'pmingliu',sans-serif;
}
.left:hover{
	transform: translateY(-5px);
	transition: 0.5s;
	box-shadow: 0px  4px 20px 0px #808080;
	border-radius: 5%;
	
}



.lanmu{
	height: auto;
	padding: 120px 0;
	background: #F3F3F4;
}
.daohl{
	width: 100%;
	height: 28px;
	margin: 0 auto;
	float: left;
	/* background: yellow; */
	text-align: center;
	margin-bottom: 30px;
	font-size: 16px;
	font-family: 'lora',sans-serif;
	font-weight: bold;
}
.daohl a{
	color: #979797;
	text-align: center;
	margin: 0 10px;
}
.daohl a:nth-child(1){
	color: #000;
}
.daohl a:hover{
	color: #000;
}




.mengban{
	background: rgba(0, 0, 0, 0);
	position: absolute;
	top: 0;
	bottom: 20px;
	left: 15px;
	right: 15px;
}
.content.col-lg-4.col-md-4.col-sm-4.col-xs-6:hover img{
	display: block;
	width: 100%;
	height: 100%;
	transform: rotate3d(360deg);
	border-radius: 100%;
	transform: translateY(-5px);
	transition: 0.3s;
	box-shadow: 0px  4px 20px 0px #fafafa;

}
.content:hover .mengban{
	background: rgba(0, 0, 0, 0.6);
	transition: 0.3s;



}

.fdj{
	display: block;
	width: 50px;
	height: 50px;
	color: #000;
	background: #ccc;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	
	margin: auto;

	opacity: 0;
	line-height: 50px;
	text-align: center;
}
.fdj i{
		font-size: 30px;
}
.content:hover .fdj{
	opacity: 1;
	transform: rotateY(0, 1 , 0, 360deg);
	transition: 1s;

}
.fdj:hover{
	background: #000;
	color: #27e1ce;
}
.section{
	/*padding-bottom: 60px;*/
	padding-top: 120px;
	background: #fff;
	/*padding-left: 12px;*/
}
.section .content{
	/*height: 200px;*/
	/*background: red;*/
	border-bottom: none;
	border-right: none;
	padding:10px 10px;
}
.section ul li:nth-child(2){
	border-right: none;
	padding:20px;

}
section .zi1{
	display: block;
	width: 100%;
	height: 46px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding-left: 5px;
	border: 1px solid #e4e7e9;

}
section .zi1:focus{
	outline: none;
}
section textarea{
	width: 100%;
	height: 166px;
	margin-bottom: 10px;
	padding-left: 5px;
	resize: none;
	border: 1px solid #e4e7e9;
}
section textarea:focus{
	outline: none;
}
section .zi2{
	display: block;
	width: 120.05px;
	height: 45px;
	/*margin-bottom: 20px;
	margin-top: 10px;*/
	padding-left: 5px;
	padding-right: 5px;
	background: #1a1a1a;
}
section .zi2:hover{
	font-weight: 700;
	font-size: 16px;
	color: #fff;
	font-family: 'lora',sans-serif;
	font-weight: bold;
}
section .zi2:focus {
	outline: none;
}
.section-right{
	width: 100%;
	height: 60px;
	/*background: red;*/
	margin-bottom:30px; 
	
}
.section-right img{
	display: block;
	width: 60px;
	height: 60px;
	float: left;
	margin-right: 10px;
}
.section-right p{
	display: block;
	float: left;
	font-family:'lora',sans-serif;
	color: #959595;
	font-size: 14px;
	font-weight: bold;
}
footer{
    background-color: #0d1218;
    color: #fff;
    padding: 42px 0px;
	position: relative;
}
footer p{
    color: #fff;
    margin: 0px;
    padding: 6px 0px;
}
footer p a{
	font-weight: 700;
	color: #fff;
}
footer p a:hover, footer p a:focus{
	color: #fff;
}
footer ul{
    float: right;
    margin: 0px;

}
footer ul li{
    list-style: none;
    display: inline-block;
    float: left;
    margin-right: 5px;
}
footer ul li a{
    display: inline-block;
    font-size: 16px;
    line-height: 38px;
    color: #252525;
    height: 36px;
    width: 36px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 100%;
    text-align: center;
    -webkit-transition: .25s;
    transition: .25s;
}
footer ul li a:hover, footer ul li a:focus{
    background-color: #00BFFF;
    color: #fff;
}
.scroll-top{
    position: absolute;
    right: 50%;
    top: 0;
    -webkit-transform: translateX(50%) translateY(-50%) rotate(45deg);
    transform: translateX(50%) translateY(-50%) rotate(45deg);
    display: inline-block;
    font-size: 16px;
    line-height: 38px;
    color: #fff;
    height: 36px;
    width: 36px;
    background-color: #0d1218;
    text-align: center;
    -webkit-transition: .25s;
    transition: .25s;

}
.scroll-top i{
	display: block;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.scroll-top:hover,.scroll-top:focus{
    background-color: #00BFFF;
    color: #0d1218;
}






















